doctype html
html
          link(rel='stylesheet', href='/css/style.css')
          .url
            a(href = "/HomePage") Home Page |
            a(href = "/OurServices") Our Services |
            a(href = "/Contactus") Contact us